/* soft reset do css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: none;
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
  }
 
/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
 @media (min-width: 400px) {
    body {
        font-size: 14px;
    }
 }

 /* Breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}    

/* breakpoint */
@media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

  .menu {
    font-family: 'Source Code Pro', monospace;  
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu li {
    list-style: none;
  }
  
 .menu a{
    display: block;
    padding: 10px 20px;
}
  a {
    color: ciano;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: none;
    position: relative;
    color: red;
  }
  
  .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 500ms animacaoTitulo forwards;
  }
  
  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  .site-subtitle,
  .site-title {
    color: darkblue;
    text-align: center;
  }
  
  .site-title{
      font-size: 4em;
      font-family: 'Permanent Marker', cursive;
  }

  .site-subtitle {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
  }

.portfolio {
    padding: 2em;
    min-height: 100vh;
}

.portfolio h2{
    font-family: 'Source Code Pro', monospace;
    color: steelblue;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}


@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    /*height: calc(100vh - 8em - 48px);*/
  }

  .portfolio h2{
    padding-bottom: 3em;
    padding-top: 3em;
}

}


.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform 500ms;
}

.flip-card{
  height: 180px;
  perspective: 500px;
  margin-bottom: 1em;
}


.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
  
}

.card-front, .card-back {
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  top: 0;
}

.card-front {

}

.card-back {
  height: 180px;
  width: 100%;
  background-color: lightcyan;
  transform: rotateY(180deg);
  font-size: 0.7em;
}

/*
.img-portfolio:hover {
  transform: scale(1.2) rotate(180deg)
}
*/

.contato {
  color: black;
  text-align: right;
  font-size: 1.5em;
  padding-right: 0.5in;
}