/* soft reset do css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  padding-top: 1in;
  font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
      font-size: 14px;
  }
}

/* Breakpoint */
@media (min-width: 600px) {
  body {
      font-size: 18px;
  }
}    

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu {
  font-family: 'Source Code Pro', monospace;
  background-color: white;
  position: fixed ;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a{
  display: block;
}
a {
  color: ciano;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  position: relative;
  color: red;
}


.title {
  margin-bottom: 1em;
}

.sobre {
    color: navy;
    font-family: monospace;
    text-align: left;
    text-indent: 0.5in;
    padding-bottom: 1in;

    padding-left: 1in;
    padding-right: 1in;
}


.sobre .assinatura{
  text-align: right;
  margin-top: 2em;
}


.sobre .avatar {
  margin-left: 2em;
  float: right;
}

.img-avatar {
  height: 100%;
  width: 440px;
  border-radius: 30%;

}

.contato {
  color: black;
  text-align: right;
  font-size: 1.5em;
  padding-right: 0.5in;
  top: 0;  
}